<%- include('partials/head.html')%>

<body>

  <!-- Requerimos la navegacion -->
  <%- include('partials/navigation.html') %>

  <div class="container-fluid">
    <header class="row">
      <div class="col-lg-12 text-center">
        <img class="img-fluid my-3" src="/imagenes/LetraLLuviosaFinal.jpg" alt="" width="36%">
      </div>
    </header>
  </div>
  
  <!-- SECTION ONE -->
  <div class="container-fluid animate__animated animate__flash animate__repeat-2" id="about">
<div class="row bg-dark text-white p-5 text-center">
  <div class="col-sm-6">
    <i class="fa fa-youtube-play fa-5x" aria-hidden="true"></i>
  </div>
  <div class="col-sm-6">
    <h3>The most subscribed Youtube Channel</h3>
    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolores fugit autem repellat nisi, ea cupiditate officiis, porro ipsum in nesciunt voluptates, temporibus tenetur quos tempore reprehenderit harum? Dolore, saepe recusandae?</p>
  </div>
</div>
  </div>
  
  <%- include('partials/footer.html')%>
</body>
</html>